__pycache__/
.DS_Store
.ipynb_checkpoints/

vast_work/
*.tar.gz
*.tmp

data/instances/*
!data/instances/.gitkeep

models/baseline_cauctions/*
!models/baseline_cauctions/.gitkeep

results/*
!results/.gitkeep
